:root {
    --orange: #FF6542;
    --light-ash: #E6E8E6; 
    --dark-ash: #bbbcbb;
    --cole: #303030;

}
html {
    scroll-behavior: smooth;
  }
body{
    margin: 0%;
    font-family: 'Work Sans', sans-serif;
    background-color:var(--light-ash);
    }
a{
    text-decoration: unset; 
    color: unset;
}
p{
    margin: 0%;
}

    /*–––––     CLASSES HOME    ----------*/

    .container{
        position: fixed;
        left: 50%;
        right: 50%;
        top: 45%;
        bottom: 50%;
        display: flex;
        align-items:center;
        justify-content: center;
    }
    .Main-Headline{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--orange);
        border:solid 0.2rem;
        border-radius: 1rem;
        padding: 1rem;
        transition: 2s;
        text-align: center;
        min-width:max-content
    }
    .Main-Headline:hover .portrait{
        height: 50vh;   
        margin-bottom: 1rem; 
    }
    .portrait{
        width:auto;
        height: 0vh;
        margin: 0%;
        border-radius: .5rem;
        transition: .7s;
        object-fit:cover;
    }
    .name{
        font-weight: 400;
        font-size: 3rem;
        margin:0%;
    }
    .portfolio-subline{
        color: var(--cole);
        font-size: 2rem;
        margin: 0%;
    }
    .grid-wrapper{
        display: flex;
        padding-bottom: 3rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .grid-container{
        display: grid;
        gap: 4rem;
        grid-template-columns: repeat(2, 1fr)
    }

    .grid-Image{
        object-fit: cover;
        width: 40vw;
        height: 40vw; 
        border-radius: 10px;
        align-items: baseline;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
    .grid-Image:hover{
        box-shadow: 0px 0px 0px 6px var(--orange);
        cursor: pointer;
        -webkit-filter:unset; /* Safari 6.0 - 9.0 */
        filter: unset;
    }
    .cases{
        position: relative;
        top: 91vh;
        background-color: var(--dark-ash);
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        box-shadow: 0px 0px 40px 10px #4e4e4e2f;
        z-index: 2; 
    }
    .headline_cases{
        font-weight: 400;
        margin: 0%;
    }
    .cases_pfeil{
        text-align: center;
        color: var(--cole);
        margin: 1rem;
        padding: 1rem;
    }
    .ri-arrow-up-s-line{
        font-size: 2rem;
    }
    .footer{
        position: relative;
        padding-top: 2rem;
        padding-bottom: 0.5rem;
        color: var(--cole);
        display:flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        top: 90vh;
        z-index: 1;
        background-color: var(--orange);
    }
    .footer-items{
        width: 60vw;
        margin-bottom: 1.5rem;
        font-size: 2rem;
        color: var(--cole);
        display: flex;
        align-items: bottom;
        justify-content: space-between;
    }
    .no-button{
        color: var(--cole);
        text-decoration: unset;
    }
    .no-button:hover{
        text-decoration: underline;
        transition: 0.4s ease;
    }
    .socials{
        font-size: 2rem;
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    .ri-instagram-line:hover{
        text-decoration: underline;
        text-underline-offset: 5px;
        
    }
    .ri-linkedin-box-line:hover{
        text-decoration: underline;
        text-underline-offset: 5px;
    }
    .footer-headline{
        font-size: 1.2rem;
        font-weight: 300;
        margin: 0%;
    }
    .Email{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:0.8rem 0% 0% 0%;
        
    }
    .header-links-wrapper{
        color: var(--cole);
        font-size: 1.7rem;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 50%;
        transform: translateX(-50%);
    }
    .header-links{
        /* margin-top: 2rem; */
        display: flex;
        gap: 3rem;
    }   
    .über-mich{
        min-width: max-content;
    }
    .über-mich:hover{
        color:var(--orange);
        text-decoration: underline;
        text-underline-offset: 0.4rem;
    }
    .Kontakt:hover{
        color:var(--orange);
        text-decoration: underline;
        text-underline-offset: 0.4rem;
    }
    .hoch-pfeil{
        position: relative;
        padding: unset;
        font-size: 2.6rem;
        color: var(--cole);
    }
    .hoch-pfeil:hover .ri-arrow-up-circle-line{
        transition: 4ms;
        opacity: .5;
    }
    
    /*–––––     CLASSES ABOUT    ----------*/
    
    .about-header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .portrait-about{
        border-radius: 0.5rem;
        max-width: 50vh;
        max-height: 40vw;
    }
    .intro-about{
        background-color: var(--dark-ash);
        padding: 3rem;
        border-radius: 1rem;
        margin: 10rem 10vw 0 10vw;
        display: flex;
        gap: 3rem;
        align-items: center;
        z-index: 1;
        box-shadow: 3px 4px 30px 4px #30303025;
    }
    .about-text{
        font-size: 25px;
    }
    .back-home:hover{
        color:var(--orange);
        text-decoration: underline;
        text-underline-offset: 0.4rem;
    }
    .Hi{
        color: var(--orange);
    }
    .skills{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80vh;
        width: 60vw;
        margin: auto;
    }
    .programme-grid{
        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(5, 1fr);
        font-size: 35px;
    }
    .programm{
        position: relative  ;
        margin: 0%;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        background-color: var(--dark-ash);
        border-radius: 0.9rem;
        box-shadow: 3px 4px 30px 4px #30303025;
    }
    .fortschritt{
        position: relative;
        color: var(--orange);
        width: 3rem;
        height: 50%;
        z-index: 1;
    }
    .programm-name{
        position: relative;
        width: 100%;
        height: 100%;
    }


    
   /* --------Media Queries ––––––––––*/


    @media only screen and (max-width: 900px)
    {
        .grid-container{
            width: unset;
            margin: 0%;
            grid-template-columns: 1fr
        }
        .grid-Image{
            object-fit:cover;
            width: 80vw;
            height: 80vw;
            align-self: start;}
            
        .Main-Headline{
            border: solid 0.15rem;;  
        }
        .name{
            font-size: 2rem;
        }
        .footer-items{
            font-size: 1.5rem;
            flex-direction: column;
            margin-bottom: unset;
        }
        .footer-headline{
            font-size: 0.8rem;}
        .Email{
            align-items: center;
        }
        .header-links-wrapper{
            font-size: 1rem;
        }
        .portrait{
            width:20rem;
        }
        .intro-about{
            flex-direction: column;
        }
    }
    @media screen and (min-width: 2000px){
        .grid-Image{
            width: 25vw;
            height: 25vw;
        }
        .Main-Headline{
            border: solid 0.2rem;;  
        }
        .name{
            font-size: 4rem;
        }
        .grid-container{
            gap: 5.5rem;
        }
        .intro-about{
            margin: 15rem 20vw 0 20vw;
        }
    }
    @media screen and (max-height: 800px){
        .footer{    
        top: 90vh;
    }  
    }